alpaca-trade-api==0.50.1
altair==4.1.0
aniso8601==8.0.0
appdirs==1.4.3
asgiref==3.2.3
astor==0.8.1
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.4
backcall==0.1.0
base58==2.0.1
beautifulsoup4==4.9.1
bleach==3.1.0
blinker==1.4
blis==0.4.1
boto3==1.16.31
botocore==1.19.31
branca==0.4.1
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.1.1
catalogue==1.0.0
Cerberus==1.3.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chromedriver-binary==74.0.3729.6.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
coloredlogs==10.0
comtypes==1.1.7
configparser==5.0.0
constantly==15.1.0
crayons==0.3.1
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
dask==2.27.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.3
django-autoslug==1.9.8
django-crispy-forms==1.10.0
docopt==0.6.2
docutils==0.16
ecapture==0.1.8
ecdsa==0.14.1
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
EZGmail==2020.8.3
EZSheets==2020.10.10
fake-useragent==0.1.11
filelock==3.0.12
firebase==3.0.1
firebase-admin==4.3.0
Flask==1.1.2
Flask-RESTful==0.3.8
folium==0.11.0
future==0.18.2
gcloud==0.17.0
geographiclib==1.50
geopy==2.0.0
gitdb==4.0.5
GitPython==3.1.11
google==3.0.0
google-api-core==1.22.1
google-api-python-client==1.12.8
google-auth==1.21.2
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud-core==1.4.1
google-cloud-firestore==1.8.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.1
googleapis-common-protos==1.51.0
googlemaps==4.4.2
grpcio==1.31.0
gspread==3.2.0
html5lib==1.1
httplib2==0.17.0
humanfriendly==8.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
inflect==4.1.0
inflection==0.3.1
intuit-oauth==1.2.4
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso3166==1.0.1
itemadapter==0.1.0
itsdangerous==1.1.0
jaraco.itertools==5.0.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.14.1
Js2Py==0.70
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.2
jws==0.1.3
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
kiwisolver==1.1.0
locationsharinglib==4.1.1
lxml==4.5.0
mapbox==0.18.0
mapscookiegettercli==0.2.0
MarkupSafe==1.1.1
matlab==0.1
matplotlib==3.1.3
mechanize==0.4.5
mistune==0.8.4
more-itertools==8.2.0
MouseInfo==0.1.3
msgpack==1.0.0
multitasking==0.0.9
murmurhash==1.0.2
Naked==0.1.31
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.5
nltk==3.5
notebook==6.0.3
numpy==1.18.1
oauth2client==3.0.0
oauthlib==3.1.0
opencv-python==4.4.0.44
openpyxl==3.0.4
ortools==8.0.8283
packaging==20.4
panda==0.3.1
pandas==1.0.1
pandas-datareader==0.8.1
pandocfilters==1.4.2
parse==1.14.0
parsel==1.6.0
parso==0.6.1
pathlib-mate==1.0.0
pathtools==0.1.2
pickleshare==0.7.5
Pillow==7.1.2
pipreqs==0.4.10
pipwin==0.5.0
plac==1.1.3
playsound==1.2.2
plotly==4.9.0
polyline==1.4.0
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
Protego==0.1.16
protobuf==3.13.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/MIKEB/pipwin/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
PyAutoGUI==0.9.50
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.8
pydeck==0.5.0
PyDispatcher==2.0.5
pyee==7.0.1
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.5.2
pygsheets==2.0.3
PyHamcrest==2.0.2
pyjsparser==2.7.1
PyJWT==1.7.1
pymongo==3.10.1
PyMsgBox==1.0.8
pyparsing==2.4.6
pyperclip==1.8.0
pypiwin32==223
pyppeteer==0.0.25
PyPrind==2.11.2
pyquery==1.4.1
pyreadline==2.1
pyreadr==0.2.6
PyRect==0.1.4
pyrsistent==0.15.7
PyScreeze==0.1.26
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-git==2018.2.1
python-jose==3.2.0
python-jwt==2.0.1
pytrends==4.7.3
pyttsx3==2.90
PyTweening==1.0.3
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==18.1.1
Quandl==3.5.0
queuelib==1.5.0
regex==2020.4.4
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
retrying==1.3.3
rsa==4.0
s3transfer==0.3.3
scikit-image==0.14.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shellescape==3.8.1
simplejson==3.17.0
six==1.14.0
smmap==3.0.4
sodapy==2.1.0
soupsieve==1.9.5
spacy==2.2.4
SpeechRecognition==3.8.1
sports==0.1.7
sports.py==2.0.10
spotipy==2.15.0
SQLAlchemy==1.3.18
sqlparse==0.3.0
srsly==1.0.2
sseclient==0.0.26
streamlit==0.72.0
tda-api==0.7.1
tenacity==6.2.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
thinc==7.4.0
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
tweepy==3.8.0
tweety==0.1.6
twilio==6.45.0
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.24.3
uszipcode==0.2.4
vaderSentiment==3.3.1
validators==0.18.1
virtualenv==20.0.3
w3lib==1.21.0
wasabi==0.6.0
watchdog==0.10.4
wcwidth==0.1.8
webdriver-manager==1.8.2
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
wolframalpha==4.0.0
xmltodict==0.12.0
yahoo-earnings-calendar==0.5.2
yahoo-fin==0.8.6
yahoo-finance==1.4.0
yarg==0.1.9
yfinance==0.1.54
zope.interface==5.1.0
